<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All Image</title>
</head>
<body>
    <h1 class="text-center my-3 mt-5">All Images</h1>
    <div class="container w-75">
        <div class="row">
            <div class="col-4">
                <img sstyle="border: 3px solid grey;" class="mx-4 my-3 p-1 " height="250" width="250" src="">
                <form style="display: inline" action="/delete/?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" style="cursor: pointer;" class="btn btn-danger float-none mx-4 px-5">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>