<%- include('../../partials/head.ejs') %>

    <div class="container my-container my-5">
        <h6 class="display-6 text-center">Welcome to your Dashboard</h6>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>